# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.pytest_cache
.venv

# Ignore fixture / testing files
marc_xml_as_csv.csv
tests/fixtures/alma_marc_records.csv
tests/fixtures/marc_records.csv
tests/test_outputs/*
experiments_files_and_output/*
